@CHARSET "UTF-8";

BODY {
        margin: 0px;
        padding: 0px;
        color: #000;
}

#global{
        width: 100%;
        margin: 0px auto;
}

#logo{
	position: absolute;	
	left: 35%;
	top: 10%;
}

/* PRIMEFACES */

.ui-panel {
	width: 500px;
	margin: 0 auto;
	margin-top: 5px;	
}

.ui-datatable {
	width: 800px;
	margin: 0 auto;
	margin-top: 5px;
}

 .ui-widget-content{
	background-color: white;
}
/*
.ui-layout-doc{
	background-color: silver;
}
.ui-layout{
	background-color: blue;
}
*/

#paneldata.ui-panel{
		width: 900px !important;
}
